# =========================
# ROS2 / colcon
# =========================

build/
install/
log/


# =========================
# Python
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd


# =========================
# VSCode
# =========================

.vscode/


# =========================
# Linux
# =========================

*~
.DS_Store
Thumbs.db


# =========================
# Jupyter
# =========================

.ipynb_checkpoints/


# =========================
# ROS bags
# =========================

*.db3
*.mcap


# =========================
# Temporary RViz configs
# =========================

*.rviz.bak

# =========================
# Resolución de TPS
# =========================
src/clase4/robot_description/mycobot_320_m5_2022/mycobot_320_m5_2022_gripper.urdf
src/clase5/robot_description/dp/dp_caos.xacro
src/clase4/robot_description/scara/scara.urdf
